* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(96, 24, 242)),
    to(rgb(2, 231, 247))
  );
  background: linear-gradient(
    left top,
    left bottom,
    from(rgb(96, 24, 242)),
    to(rgb(2, 231, 247))
  );
  margin: 0;
  width: 400px;
  height: 1000px;
}
.logo {
  margin: 25px 15px 25px 15px;
  width: 350px;
  height: 100px;
  position: relative;
  box-shadow: 5px 5px 5px black;
}
figcaption {
  visibility: hidden;
}
h1{
  background-color: rgb(44,4,124);
  color:rgb(44,4,124);
}
.letsgo p {
  background-color: rgb(44,4,124);
  color:rgb(44,4,124);
}
h2 {
  color: white;
  width: 350px;
  margin: 15px;
  background-color:rgb(44,4,124);
  padding: 5px;
  text-align: center;
}
main {
  width: 350px;
  margin: 15px;
}
h3 {
  color: white;
  padding: 25px 30px;
  background-color: rgb(96, 24, 242);
  border: 3px solid rgb(2, 231, 247);
  width: 270px;
  position: relative;
  top: -50px;
}
aside {
  height: 370px;
  background-color:rgb(44,4,124);
  margin: 15px;
  width: 350px;
}
.go {
  -webkit-appearance: none;
  width: 100px;
  height: 100px;
  position: relative;
  left: 130px;
  top: 20px;
  border-radius: 50px;
  background: linear-gradient(
    rgb(106, 0, 255),
    rgb(65, 212, 245),
    rgb(106, 0, 255)
  );
  box-shadow: 5px 5px 5px black;
  font-size: 1.5em;
  text-align: center;
  color: white;
  outline: none;
  cursor: pointer;
}
.striped {
  visibility: hidden;
  position: absolute;
  left: -400px;
  top: 0px;
}
footer {
  position: relative;
  width: 400px;
}
